@model List<ActorMovie>
<link rel="stylesheet" href="~/css/myallactormovie.css" />

<div class="main_page col-12">
    <div class="page_used_area col-10">
        <h3 class="col-12">Actors</h3>
        <div class="table_area col-12">
            <a asp-action="Create" class="btn_create"><i class="bi bi-plus-circle"></i> Add actor in movie</a>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Movie Name</th>
                        <th scope="col">Actor Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width:33%">@item.Movie.Name</td>
                            <td style="width:33%">@item.Actor.Name</td>
                            <td>
                                <a asp-action="Edit" asp-route-Actorid="@item.ActorId" asp-route-Movieid="@item.MovieId" class="a_edit"><i class="bi bi-box-arrow-in-down-left i_edit"></i> Edit</a>
                                <a href="#" class="a_delete" data-actorid="@item.ActorId" data-movieid="@item.MovieId" data-Actorname="@item.Actor.Name" data-Moviename="@item.Movie.Name"><i class="bi bi-trash i_delete"></i> Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="fixed_page hide col-12">
    <div class="del_box">
        <div class="upper_box col-12">
            <h4 class="h4_upper">Confirm delete</h4>
            <i class="bi bi-x-lg i_upper"></i>
        </div>
        <div class="mid_box col-12"></div>
        <div class="lower_box">
            <p>Are you sure that you want to delete <srtrong class="act_strong" style="font-weight:bold"></srtrong> in <strong class="mov_strong"></strong> ?</p>
            <div class="lower_btn">
                <a href="" class="a_lower">Delete</a>
                <button class="btn_lower">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const a_delete = document.querySelectorAll(".a_delete");
        const fixed_page = document.querySelector(".fixed_page");
        const a_lower = document.querySelector(".a_lower");
        const del_box = document.querySelector(".del_box");
        const i_upper = document.querySelector(".i_upper");
        const btn_lower = document.querySelector(".btn_lower");
        const act_strong = document.querySelector(".act_strong");
        const mov_strong = document.querySelector(".mov_strong");

        a_delete.forEach(btn => {
            btn.onclick = function () {
                const Actorid = this.getAttribute("data-actorid");
                const Movieid = this.getAttribute("data-movieid");
                const Act_name = this.getAttribute("data-Actorname");
                const Mov_name = this.getAttribute("data-Moviename");
                act_strong.textContent = Act_name;
                mov_strong.textContent = Mov_name;
                fixed_page.classList.remove("hide");
                fixed_page.classList.add("appear");
                del_box.classList.add("animate__animated", "animate__fadeInDownBig", "animate__fast");
                a_lower.setAttribute("href", `/AllActorMovies/Delete?ActorId=${Actorid}&MovieId=${Movieid}`);
            };
        });
        del_box.onclick = function (e) {
            e.stopPropagation();
        };
        i_upper.onclick = function (e) {
            fixed_page.classList.remove("appear");
            fixed_page.classList.add("hide");
        };
        btn_lower.onclick = function () {
            fixed_page.classList.remove("appear");
            fixed_page.classList.add("hide");
        };
        fixed_page.onclick = function () {
            fixed_page.classList.remove("appear");
            fixed_page.classList.add("hide");
        };
        var success = '@TempData["AMSuccess"]';
        if (success !== '') {
            toastr.success(success, { timeOut: 5000 });
        }
    </script>
} 